/* ヘッダー */
header {
  background-color: #ec715f;
  height: 70px;
}

header img {
  height: 70px;
}
ul {
  display: flex;
}
li {
  list-style-type: none;
  font-size: 16px;
  color: #fafafa;
  padding-left: 30px;
  padding-right: 30px;
  height: 70px;
}
.navbar {
  display: flex;
}

/* メイン */
.main-image {
  background-image: url(img/mv.png);
  height: 650px;
}
.main-text {
  color: #fafafa;
  text-align: center;
}
.main-text h1 {
  font-size: 64px;
  padding-top: 200px;
}

.main-text p {
  font-size: 20px;
}
